# Ігноруємо папку з кешем Python
__pycache__/
*.pyc

# Ігноруємо файли конфігурації
.env
.env.*
oberig_credentials.json

script.py
script_backup.py.py


# Ігноруємо тимчасові файли
*.log
*.tmp

# Ігноруємо специфічні артефакти
desktop.ini
bot_data.db
